<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>©deyanaaliyah</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fpng%2F1197992-world&psig=AOvVaw2Ow0BExDvMvkfaK1g4zblR&ust=1606325146239000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDkkdDZm-0CFQAAAAAdAAAAABAD"/>
</head>
<body>
<h1>hello!</h1>
<div class="menu">
    <h3>click one of the options to check out my websites!</h3>
    <p>
        <a
                href="/kinodemo"
        >Kino</a
        >
        <br />
        a cinema website concept
    </p>
    <br />
    <p>
        <a
                href="/logindemo"
        >Database Login</a
        ><br />
        a concept for companies with personal data information and a login
        authenticator
    </p>
    <br />
    <p>
        <a
                href="bandifydemo"
        >Bandify</a
        ><br />
        a music streaming concept
    </p>
    <br />
    <p>
        <a
                href="brogrammerdemo"
        >Brogrammer</a
        ><br />
        a concept for SEO/fullstack start ups.
    </p>
</div>
</body>
</html>