.greetingHeader{
    margin-top: 15%;
}
.btn-block {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding: 3%;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text-muted {
    color: #6c757d !important;
    text-align: center;
}